# Copy this file to .env and fill local values.
# .env is ignored by git and must never be committed.

CHROMIUM_USER_DATA_PATH=./User_Data_Chrome
CHROMIUM_LOCAL_PORT=9222

BAIDU_USERNAME=
BAIDU_PASSWORD=
BAIDU_SUCCESS_URL_KEY=cc.baidu.com/report
BAIDU_LOGIN_URL_KEY=cas
BAIDU_LOGIN_URL=https://cas.baidu.com/?tpl=www2&fromu=https
BAIDU_TARGET_URL=https://cc.baidu.com/report

BING_USERNAME=
BING_PASSWORD=
BING_SUCCESS_URL_KEY=ui.ads.microsoft.com
BING_SIGNOUT_URL_KEY=signout=true
BING_LOGIN_URL_KEY=login.microsoftonline.com
BING_LOGIN_URL=https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=YOUR_CLIENT_ID&response_type=code%20id_token&scope=openid%20profile
BING_TARGET_URL=https://ui.ads.microsoft.com/campaign/vnext/accounts/overview?cid=YOUR_CID&uid=YOUR_UID
BING_ACCOUNT_NAME=

CRM_USERNAME=
CRM_PASSWORD=
CRM_SUCCESS_URL_KEY=sale.back.example.com
CRM_SIGNOUT_URL_KEY=sso
CRM_LOGIN_URL_KEY=sso.back.example.com
CRM_LOGIN_URL=https://sso.back.example.com/lg
CRM_TARGET_URL=https://crm.back.example.com/crmChanceTongji/manager
CRM_TAB_URL_KEYWORD=example

SLL_USERNAME=
SLL_PASSWORD=
SLL_SUCCESS_URL_KEY=e.360.cn/mcc
SLL_LOGIN_URL_KEY=https://e.360.cn/
SLL_LOGIN_URL=https://e.360.cn/static/zhihui/login/
SLL_TARGET_URL=https://e.360.cn/mcc/index

DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=
DINGTALK_RIBAO_ROBOT_ACCESS_TOKEN=
DINGTALK_SHIBAO_ROBOT_ACCESS_TOKEN=
DINGTALK_RIBAO_WEBHOOK_URL=
DINGTALK_SHIBAO_WEBHOOK_URL=
